@model DateTime?

@{
    ViewBag.Title = "Thống kê doanh thu";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ThongKeDoanhThu", "Admin", FormMethod.Get))
{
    <p>
        @Html.Label("Chọn ngày: MM/dd/yyyy")
        @Html.TextBox("date", Model?.ToString("dd/MM/yyyy"))
        <input type="submit" value="Tìm kiếm" />
    </p>
}


@if (ViewBag.SelectedDate != null)
{
    DateTime selectedDate = (DateTime)ViewBag.SelectedDate;
    if (ViewBag.SelectedDateRevenue != null)
    {
        <p>Doanh thu ngày:      @selectedDate.ToString("dd/MM/yyyy"):       @ViewBag.SelectedDateRevenue.TongTien.ToString("#,##0")</p>
    }
}
else
{
    DateTime today = DateTime.Today;
    if (ViewBag.SelectedDateRevenue != null)
    {

        <p>Doanh thu ngày:      @today.ToString("dd/MM/yyyy"):      @ViewBag.SelectedDateRevenue.TongTien.ToString("#,##0")</p>

    }
}
<table>
        <thead>
            <tr>
                <th>Ngày</th>
                <th>Doanh thu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var revenue in ViewBag.RevenueStatistics)
            {
                <tr>
                    <td>@revenue.NgayGiao.ToString("dd/MM/yyyy")</td>
                    <td>@revenue.TongTien.ToString("#,##0")</td>
                </tr>
            }
        </tbody>
    </table>




<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
